<meta charset="UTF-8" />
<div class="preloader" id="pre">
  <img src="/img/preloader.gif" alt="" />
</div>
<div id="chat-container">
  <div id="chat-messages"></div>
  <div id="user-input">
    <input
      type="text"
      id="user-message"
      minlength="5"
      placeholder="Escribe un mensaje..."
    />
    <button id="send-button" >Enviar</button>
  </div>
</div>


    <button id="boton-grabar">Iniciar Grabacion</button>

<script src="/Scripts/respuestas.js"></script>