
<meta charset="UTF-8" />
<div class="preloader" id="pre">
  <img src="/img/R.gif" alt="logo" style="width: 330px;" />
</div>
<div id="chat-container">
  <div id="chat-messages"></div>
  <div id="user-input">
    <input
      type="text"
      id="user-message"
      minlength="5"
      placeholder="Escribe un mensaje..."
    />
    <button id="send-button" disabled >Enviar</button>
    <button id="boton-grabar" disabled> <img src="https://cdn4.iconfinder.com/data/icons/social-messaging-ui-color-and-shapes-4/177800/172-512.png" height="100px" width="100px" style="border-radius: 50px;" alt=""> </button>
  </div>
</div>



<script src="{{script}}"></script>
